{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>

<body>
    <div class="container">
        <form class="signup-form" action="" method="POST">
            {% csrf_token %}
            <h1>Sign Up</h1>
            <!-- <p class="warning">{{message}}</p> -->
            {% for message in messages%}
            <h5>
                {{message}}
            </h5>
            {% endfor %}
            <input type="text" name='fullname' placeholder="Full Name" />
            <input type="email" name='email' placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <button type="submit">Sign Up</button>
            <p>
                Already have an account?
                <a href="{% url 'signin' %}">Log in</a>
            </p>
        </form>
    </div>
</body>

</html>